h1 {
    height: 100px;
}

.main-section {
    background-color: $black;

    .flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        color: $white;
        width: 15%;
        margin: 0 $spacing/2;

        img {
            width: 100%;
        }

        a {
            color: $white;
        }
    }

   
}

.blue-banner {
    background-color: $brandColor;
    height: $spacing*3;
    position: relative;

    img {
        width: 100%;
    }

    .single-img-container {
        width: 12%;
        position: absolute;
        bottom: 35%;
        border: 1px solid $white;
    }

    .gallery,
    .type {
        background-color: $lightblue;
        color: $white;
    }

    .gallery {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%
    }
}

.main-info {
    h2 {
        color: $darkBlue;
    }

    .price-container {

        width: 70%;

        .availability,
        .price {
            background-color: $priceGreen;
            color: $white;
            h4 {
                padding: $spacing/2 $spacing;;
            }
        }

        .price {
            flex-grow: 1;
            justify-content: space-between;
        }

    }

  
}